import React from 'react'

function createSvgIcon (svg) {
  return function (props) {
    return <span {...props} style={{ display: 'inline-flex', ...props.style }} dangerouslySetInnerHTML={{ __html: svg }}></span>
  }
}

<% _.each(data, function(item) { %>
export const <%= item.exportName %> = createSvgIcon(
  `<%=item.content %>`
)
<% }) %>